.filter-box {
    background-color: #B57F50;
    border: 1px solid #ccc; 
    padding: 20px; 
    border-radius: 10px; 
    /* margin: 20px 0;  */
    /* width: 27vw; */
}

.form-label {
    display: block;
    margin-bottom: 10px; 
    font-size: 24px;
}

