.filter-box {
    background-color: #E4E7EF;
    border: 1px solid #ccc; 
    padding: 20px; 
    border-radius: 10px; 
}

.form-label {
    display: block;
    margin-bottom: 10px; 
    font-size: 24px;
}

