.main-content {
  padding-top: 100px;
}

.heading-fonts {
  font-size: 40px;
  margin: auto;
  padding-top: 20px;
}

.recipe-count-box {
  background-color: #426B69; /* Light grey background, you can choose any color */
  padding: 10px;
  margin-top: 20px; /* Adjust as needed */
  border-radius: 10px; /* Optional: for rounded corners */
  text-align: center; /* Centers the text */
  font-size: 30px;
  color: white;
}

.recipe-list-box {
  background-color: #E4E7EF; 
  padding: 15px;
  margin-top: 20px; 
  border-radius: 5px;
  border: 1px solid #ccc; 
  max-width: 100%; 
  margin: 20px auto;
}

.recipe-item {
  padding: 5px 0; 
  list-style-type: none; 
  font-weight: bold;
}

.empty-message {
  padding-top: 20px;
}

.reset-box {
  background-color: #E4E7EF;
  border: 1px solid #ccc; 
  padding: 20px; 
  border-radius: 10px;
}

.recipe-list-box .recipe-title {
  font-weight: bold; 
  color: #333; 
  font-size: 1.1em;
}

.recipe-list-box .recipe-cuisine {
  border-radius: 25px; 
  margin-left: 10px;
  display: inline-block; 
  background-color: #8AA2DF;
  padding: 5px 10px;
  font-size: 0.8em;
  font-weight: normal;
}

.recipe-list-box .recipe-dietary {
  border-radius: 25px; 
  margin-left: 10px;
  display: inline-block; 
  background-color: #a2d5ab;
  padding: 5px 10px;
  font-size: 0.8em;
  font-weight: normal;
}

.recipe-list-box .recipe-preptime {
  border-radius: 25px; 
  margin-left: 10px;
  display: inline-block; 
  background-color: sandybrown;
  padding: 5px 10px;
  font-size: 0.8em;
  font-weight: normal;
}






